:root {
    /*Colors*/
    --back-blue: #0e8dbc;
    --text-main: #FFFFFF; 
    --light-yel: #dace5b;
    /*fonts*/
    --font-main: 'Oxygen', Helvetica, sans-serif;
}

*{
    background-color: var(--back-blue);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

 header{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--back-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--text-main);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 header a{
    text-decoration: none;
    color: var(--text-main);
}
header nav{
    margin: 5px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
header nav ul li a{
    padding: 10px 15px;    
    font-weight:normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}    
header nav ul li a:hover{
    background: var(--light-yel);
    color: var(--text-main);
    border-radius: 15px;
    text-shadow: none;
    cursor: pointer;
}

body {
    color: var(--light-yel);
    font-family: var(-font-main);  

}
/*add style shadow to the name*/
.label-section {
    
    background-image: url("../images/beachcr.jpg");  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 90%;
    padding: 250px 35px;
    
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0;
	overflow: hidden;
  }

.label-name {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    background:rgba(78, 168, 201);
    padding: 18px;
    font-size: 24px;
    letter-spacing: 1px;
}
.about-class{
    padding: 35px 35px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
 }
.leo-pic{
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    height: 30%;
    width: 30%;
    margin-left: 70%;
    align-self:center;
}

.about-title {
   font-size: 22;
    color: var(--light-yel);
    border-bottom: 4px solid;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 100%;
}
.about-border {
    border-color:var(--light-yel);
}
      
.about-me{
    margin: 20px;
    width: 60%;
    background: var(--back-blue);;
    color: var(--text-main);
    line-height:  1.5;
    
    position:absolute;
    text-align: justify;
}
.div-split{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Media Query For Smaller Desktop Screens And Smaller */
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px ) {
}