:root {
    /*Colors*/
    --back-blue: #0e8dbc;
    --text-main: #FFFFFF; 
    --light-yel: #dace5b;
    /*fonts*/
    --font-main: 'Oxygen', Helvetica, sans-serif;
}

*{
    background-color: var(--back-blue);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.header-label {
    color: #FFFFFF;
    background: var(--back-blue);
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background:#0e8dbc;
    font-size: 30px;
 }
 header{
  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 header a{
    text-decoration: none;
    color: var(--text-main);
}
header nav{
    margin: 5px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
header nav ul li a{
    padding: 10px 15px;    
    font-weight:normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}    
header nav ul li a:hover{
    background: var(--light-yel);
    color: var(--text-main);
    border-radius: 15px;
    text-shadow: none;
    cursor: pointer;
}

body {
    color: var(--light-yel);
    font-family: var(-font-main);  

}
/* Media Query For Smaller Desktop Screens And Smaller */
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px ) {
}