:root {
    /*Colors*/
    --back-blue: #2F5C8F;
    --text-main: #FFFFFF; 
    --light-yel: #dace5b;
    /*fonts*/
    --font-main: 'Oxygen', Helvetica, sans-serif;
    --size-title: 22px;
}

*{
    background-color: var(--back-blue);
    font: var(--font-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

 header{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--back-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--text-main);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 header a{
    text-decoration: none;
    color: var(--text-main);
}
header nav{
    margin: 5px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
header nav ul li a{
    padding: 10px 15px;    
    font-weight:normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}    
header nav ul li a:hover{
    background: var(--light-yel);
    color: var(--text-main);
    border-radius: 15px;
    text-shadow: none;
    cursor: pointer;
}

body {
    color: var(--light-yel);
    font-family: var(--font-main);  

}
/*add style shadow to the name*/
.label-section {
    
    background-image: url("../images/beachcr.jpg");  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 90%;
    padding: 250px 35px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0;
	overflow: hidden;
  }

.label-name {
    color: var(--text-main); 
    text-shadow: 0 0 10px var(--text-main); 
    background:rgba(78, 168, 201, 0.3);
    padding: 18px;
    font-size: 24px;
    letter-spacing: 1px;
    border-radius:40px 40px 40px 40px;
    
}
.about-class{
    padding: 60px 35px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
 }
 .general-title {
    font-size: var(--size-title);
    color: var(--light-yel);
    border-bottom: 4px solid yellow;
    padding-bottom: 2px;
    text-align: center;
    margin: 0 0 35px 0px;
    width: 100%;
}
 /*adjust into the profile picture*/
.leo-pic{
    border-radius: 50%;
    max-width: 200Px;
    max-height: 200px;
    height: 25%;
    width: 25%;
    margin-left: auto;
    align-self:center;
}

.about-me{
    
    width: 65%;
    background: var(--back-blue);;
    color: var(--text-main);
    line-height:  1.5;
    position: absolute;
    text-align: justify;
}
.div-split{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.work-general{
     
    flex-direction: row;
    align-items: center;
    position: relative;
    text-decoration: none;
    display: flex;
	flex-wrap: wrap;
	padding:50px 100px;
	width: 100%;
	margin: 30px 0px;
}

.project-article{
    display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	width: 100%;
}
.tm-sap{
    position: relative;
	width: 100%;
	height: 300px;
    border: 2px solid;
    inline-size: 450px;
    overflow-wrap: break-word;
    font-size: 14px;
    flex: 0 0 1;
    padding: 10px;
    text-align:justify;
}
.proj-co{
    width: 75%;  
    margin-left: 10%;
    align-self:center;
}
.proj-tm,
.proj-catalog,
.proj-run{
    width: 100%;
}


.work-area {
	z-index: 15;
}
.work-frame{
    position:absolute;
    margin: 10px 20px 10px;
	bottom: 25px;
	padding: 5px 25px 10px;
	border-radius:10px 10px 10px 10px;
    color: var(--text-main);
	box-shadow: 4px 4px 25px rgb(50, 56, 24);
}
.my-cv{
    margin: 10px 20px 50px; 
    display: flex;
	flex-wrap:wrap-reverse;
    flex-direction:column;
    
	
}
.my-cv h2{
    top: 20px;
    padding: 10px;
    font-size: var(--size-title);
}
.download-resume a{
    
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    font-weight:bold;
    color: var(--text-main);
    cursor: grab;
    border: 2px solid var(--text-main);
    border-radius: 10px;
    box-shadow: 0 5px 0 rgb(139, 135, 135);
}
.download-resume a:hover{
    background-color: #6f8f9b;
}
.download-resume a:active {
    box-shadow: none;
    top: 5px;
  }

  .contact-info{
    /*border: 2px solid white;*/
   
    background: url("../images/roca.jpg") no-repeat center center fixed; 
    /*opacity: 0.5;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    padding: 250px 35px;
    margin: 0px 0px 10px 0;
	overflow: hidden;

  }
.contact-me{
    background:rgba(var(----back-blue), 0); 
    font-size: var(--size-title);
    padding: 10px 5px 20px;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: left;
    
    
  } 
  .contact-list{
    background-color: transparent; 
    line-height:  2;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--light-yel);
    text-align: left;
    flex: 2 1 25px;
    padding: 10px;


 } 
 .contact-list a{
    background-color: transparent; 
    text-decoration: none;
    color:  var(--text-main);

 } 
 .contact-list  ul{
 
    list-style: none;
    
 }

/* Media Query For Smaller Desktop Screens And Smaller */
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px ) {
}